#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*.md' do
  filter :kramdown,
    input: 'GFM',
    syntax_highlighter: 'rouge',
    hard_wrap: false

  layout '/default.*'
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
  write item.identifier.without_ext + '.css'
end

compile '/index.*' do
  filter :erb
  layout '/default.*'
  write '/index.html'
end

route '/**/*.scss' do
  item.identifier.without_ext + '.css'
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '.html'
  end
end

compile '/**/*' do
  unless item.identifier.ext == 'scss'
    write item.identifier.to_s
  end
end

# Leave the favicon alone.
passthrough '/favicon.ico'

layout '/**/*', :erb
