---
title: GitLab Documentation
---

<ul class="topics" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
  <% @config[:products].each do |name, product| %>
    <% if product[:expose] == true && Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
      <li class="topic-<%= product[:slug] %>">
        <a href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>" itemprop="url">
          <div class="wrapper">
            <h2 itemprop="name"><%= product[:full_name] %></h2>
            <p><%= product[:description] %></p>
          </div>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>
