---
version: 3
---

@import 'variables';

// Override some main elements
.four-oh-four {
  img {
    border: 0;
    box-shadow: none;
  }

  h1 {
    font-size: 65px;
    border-bottom-color: $color-gray-medium;
  }

  h2 {
    border-bottom: 0;
    font-size: 22px;
  }

  .back-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .gray {
    color: $color-gray;
  }

  .search-icon {
    background-color: $color-white;
  }
}
