---
version: 2
---

@import "variables";

.comments {
  margin-top: 15px;
  padding-top: 10px;
  border-top-style: solid;
  border-top-color: $border-color;
  border-top-width: 3px;
}

.comments-filter {
  a {
    color: $color-tanuki-dark;
    border-color: $color-tanuki-light;

    i {
      color: $color-tanuki-dark;
      padding-right: 5px;
      display: inline-block;
    }

    &:hover {
      color: $color-tanuki-light;
      border-color: $color-tanuki-dark;
    }

    &.comments-holder {
      display: block;
    }
  }

  h2 {
    border-bottom: 0;
  }

  i {
    color: $color-tanuki-dark;

    &.black-icon {
      color: $color-gray;
      padding-left: 5px;
    }
  }

  li > a {
    color: $body-color;
    border: solid 1px $border-color-light;

    &:hover {
      color: $body-color;
      border: solid 1px $border-color;
    }
  }
}

.disqus-comments-gitlab {
  padding-left: 15px;

  a {
    margin-bottom: 20px;
  }

  iframe {
    margin-top: 12px;
  }
}

.comments-holder {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $color-tanuki-dark;
  box-shadow: 1px 2px 3px transparent;
  font-size: 13px;

  &:hover {
    color: $color-tanuki-dark;
    background-color: $color-white;
    box-shadow: 1px 2px 3px $color-gray-extra-light;
  }
}

.tab-content {
  padding-bottom: 20px;

  .row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px $border-color;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
