---
version: 8
---

pre.highlight {
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002b36;
  color: #93a1a1;

.c { color: #759299; }
.err { color: #93a1a1; }
.g { color: #93a1a1; }
.k { color: #859900; }
.l { color: #93a1a1; }
.n { color: #93a1a1; }
.o { color: #859900; }
.x { color: #e9662f; }
.p { color: #93a1a1; }
.cm { color: #759299; }
.cp { color: #859900; }
.c1 { color: #759299; }
.cs { color: #859900; }
.gd { color: #2aa198; }
.ge { color: #93a1a1; font-style: italic; }
.gr { color: #e8625f; }
.gh { color: #e9662f; }
.gi { color: #859900; }
.go { color: #93a1a1; }
.gp { color: #93a1a1; }
.gs { color: #93a1a1; font-weight: bold; }
.gu { color: #e9662f; }
.gt { color: #93a1a1; }
.kc { color: #e9662f; }
.kd { color: #3294da; }
.kn { color: #859900; }
.kp { color: #859900; }
.kr { color: #3294da; }
.kt { color: #e8625f; }
.ld { color: #93a1a1; }
.m { color: #2aa198; }
.s { color: #2aa198; }
.na { color: #93a1a1; }
.nb { color: #B58900; }
.nc { color: #3294da; }
.no { color: #e9662f; }
.nd { color: #3294da; }
.ni { color: #e9662f; }
.ne { color: #e9662f; }
.nf { color: #3294da; }
.nl { color: #93a1a1; }
.nn { color: #93a1a1; }
.nx { color: #93a1a1; }
.py { color: #93a1a1; }
.nt { color: #3294da; }
.nv { color: #3294da; }
.ow { color: #859900; }
.w { color: #93a1a1; }
.mf { color: #2aa198; }
.mh { color: #2aa198; }
.mi { color: #2aa198; }
.mo { color: #2aa198; }
.sb { color: #759299; }
.sc { color: #2aa198; }
.sd { color: #93a1a1; }
.s2 { color: #2aa198; }
.se { color: #e9662f; }
.sh { color: #93a1a1; }
.si { color: #2aa198; }
.sx { color: #2aa198; }
.sr { color: #e8625f; }
.s1 { color: #2aa198; }
.ss { color: #2aa198; }
.bp { color: #3294da; }
.vc { color: #3294da; }
.vg { color: #3294da; }
.vi { color: #3294da; }
.il { color: #2aa198; }
}
