$mobile-width: 800px;

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

code, code span {
  font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  font-size: 14px;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: #f30;
  }

  &:hover {
    color: #f90;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  td, th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
  }
}

blockquote {
  border-left: 2px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 15px;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.main {
  margin: auto;
  padding: 20px;
  position: relative;
  width: auto;
  max-width: 1000px;

  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
  }

  p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
  }

  ul, ol {
    margin: 20px 0;
  }

  li {
    font-size: 15px;
    line-height: 20px;

    > ul, > ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  img {
    max-width: calc(100% - 10px);
    max-height: 100vh;
    border: 1px solid #f0f0f0;
    padding: 5px;
    margin: 5px;
  }
}

.header {
  position: relative;
  width: 100%;
  padding: 5px 20px;
  border-bottom: 1px solid #ccc;
  text-align: left;

  h2 {
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
    letter-spacing: 1px;
    line-height: 20px;
    display: inline-block;
  }

  ul {
    float: right;
    list-style-type: none;
    display: inline-block;
    margin: 10px 0;

    @media all and (max-width: $mobile-width) {
      display: none;
    }
  }

  li {
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
    margin: 0 10px;
  }
}

body.landing {
  background-color: #f9f9f9;

  .landing-header {
    padding: 75px 35px 200px 35px;
    background-color: #34373c;
    text-align: center;
    color: #fff;

    input {
      margin-top: 50px;
      border-radius: 0;
      font-size: 20px;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
   
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .st-ui-search-input, .st-default-search-input {
    width: 300px !important;
    height: 35px !important;
    padding: 15px 15px 15px 40px !important;
  }

  .st-ui-search-input, .st-default-search-input, span.st-ui-search-icon {
    background-size: 16px 16px !important;
    background-position: 15px 25px !important;
  }
}

.topics {
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  top: -100px;
  max-width: 1100px;
  margin: auto;
  -webkit-padding-start: 0;

  li {
    display: inline-block;
    background-color: #fff;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 2px;
    margin: 15px;
    flex: 1;
    min-width: 300px;

    @media all and (max-width: $mobile-width) {
      width: 100%;
      min-width: auto;
      flex: initial;
      margin: 20px;
    }

    a p, a:visited p {
      color: #553a3a;
      vertical-align: bottom;
    }

    .wrapper {
      padding: 0 35px 40px;

      @media all and (max-width: $mobile-width) {
        padding: 0 15px 15px;
      }
    }

    h2 {
      text-align: center;
      font-size: 21px;
    }

    a, a:visited {
      text-decoration: none;

      h2 {
        height: 70px;
        margin-bottom: 25px;
        
        @media all and (max-width: $mobile-width) {
          height: auto;
        }
      }
    }
  }
}

.circle {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 2.35;
  color: #fff;
  position: relative;
  margin: auto;
  top: -28px;
}

.topic-ce {
  .circle {
    background-color: rgb(1, 136, 101);
  }

  h2 {
    color: rgb(1, 120, 85);
  }
}

.topic-ee {
  .circle {
    background-color: rgb(25, 112, 169);
  }

  h2 {
    color: rgb(9, 96, 153);
  }
}

.topic-omnibus {
  .circle {
    background-color: rgb(107, 79, 187);
  }

  h2 {
    color: rgb(107, 79, 187);
  }
}
