<!--
     If we are on the archives page, the link here is hardcoded to always
     point to `/archives/`. If you visit https://docs.gitlab.com/archives/
     and select a version from the dropdown, that version's archives page
     will be shown. We want to always show the latest archives page as it
     contains all current versions and offline archives.
-->
<% if archives? %>
<li>
  <a href='/archives/'>
    <%= version %>
  </a>
</li>
<% else %>
<li>
  <a<%= active_dropdown(version) %> href='/<%= version %><%= @item.identifier.without_ext + '.html' %>'>
    <%= version %>
  </a>
</li>
<% end %>
