<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @config[:base_url] %>/404.html">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/404.*'].path %>">
  </head>
  <body>
    <%= render '/header.*' %>
    <section class="container-fluid mt-5 pt-5">
      <div class="row">
        <div class="col-12">
          <%= yield %>
          <%= render '/footer.*' %>
      </div>
    </div>
  </section>
  <script src="/frontend/shared/global_imports.js"></script>
  <script src="<%= @items['/frontend/404/404.*'].path %>"></script>
  <%= render '/docsearch.*' %>
  <% if production? %>
  <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  <% end %>
  </body>
</html>
