<div class="admonition-wrapper note">
  <div class="admonition alert alert-banner center-align-text">
  <i class="fa fa-gitlab fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
  Help us understand your experience with GitLab documentation.
  <a href="https://gitlab.fra1.qualtrics.com/jfe/form/SV_eGaifkfVJ335st7?source=banner" target="_blank" rel="noopener noreferrer">
    Take our 5 minute survey!
  </a>
  <i class="fa fa-gitlab fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
  </div>
</div>
