<!DOCTYPE HTML>
<html lang="en">
  <%= render '/head.*' %>
  <body>
    <div class="header">
      <a href="/">
        <img src="<%= @items['/assets/images/gitlab-logo.svg'].path %>"/>
        <p>GitLab Documentation</p>
      </a>
      <ul>
        <li><input type="text" class="st-default-search-input" placeholder="Search"></li>
        <li><a href="<%= @items['/ce/README.*'].path %>">Community Edition</a></li>
        <li><a href="<%= @items['/ee/README.*'].path %>">Enterprise Edition</a></li>
        <li><a href="<%= @items['/omnibus/README.*'].path %>">Omnibus</a></li>
      </ul>
    </div>
    <div class="main class">
      <% if @config[:breadcrumbs] %>
        <ul class="breadcrumbs">
          <% ancestor_array = ancestor_path_array(@item) unless ancestor_path_array(@item).empty? %>
          <% if ancestor_array %>
            <% ancestor_array.reverse_each do |item| %>
              <li class="breadcrumb"><%= link_to item.attributes.include?(:title) ? "#{item[:title]}" : "Breadcrumb", item %></li>
            <% end %>
          <% end %>
          <li class="breadcrumb"><%= @item.attributes.include?(:title) ? "#{@item[:title]}" : "Current page" %></li>
        </ul>
      <% end %>
      <%= yield %>
      <hr>
      <footer>
        <a href="EDIT_ON_GITLAB_LINK">Improve this documentation on GitLab.com</a>
      </footer>
    </div>
  </body>

  <%= render '/analytics.*' %>
</html>
