<%# Show comments only in production and on master branch (hide archives) %>
<% if @item[:comments].nil? %>
  <% unless @item.identifier.to_s.split('/')[1] == 'ce' %>
    <div class="comments">
      <div class="comments-filter">
        <h2>
          <i class="fa fa-star-half-o" aria-hidden="true"></i> 
          Your feedback is important!
        </h2>
        <p>For submitting effective feedback, choose one of the options below:</p>
          <ul>
            <li>If there's something wrong with this document and you would like to fix it yourself, you can quickly <span style="text-transform: lowercase;"><%= edit_on_gitlab(@item) %></span> and submit a merge request with your change.</li>
            <li>If you are having problems to set up or use GitLab, see how to <a href="https://about.gitlab.com/support/">get support from GitLab</a>.</li>
            <li>If you want to ask how to do something specific to your own use case, use the <a href="https://forum.gitlab.com/">GitLab Forum</a> instead.</li>
            <li>If you would like something that GitLab doesn't have or support yet, create a <a href="https://gitlab.com/gitlab-org/gitlab-ce/issues/new">feature proposal</a>.</li>
            <li>If you want to report something unclear, innacurate, or any other issue with this doc, <a href="https://gitlab.com/gitlab-org/gitlab-ce/issues/new">create an issue</a> with your report.</li>
            <li>If you want to leave a simple feedback on this document, click the button below and leave your comment in the thread.</li>
          </ul>
      </div>

      <div id="disqus_thread" class="disqus-comments-gitlab">
        <a href="#" role="button" class="comments-holder btn btn-default display-block center middle" onclick="loadDisqus();return false;">Show and post comments</a>
      </div>
      <script>
          var disqus_config = function () {
              this.page.url = '<%= @config[:base_url] %><%= @item.identifier.without_ext + '.html' %>';
              this.page.title = '<%= @item.key?(:title) ? "#{item[:title]} - GitLab Documentation" : "GitLab Documentation" %>';
            <% if @item[:redirect_from] %>
              this.page.identifier = '<%= @item[:redirect_from] %>';
            <% else %>
              this.page.identifier = '<%= @config[:base_url] %><%= @item.identifier.without_ext + '.html' %>';
            <% end %>
          };

          var is_disqus_loaded = false;
              function loadDisqus() {
                if (!is_disqus_loaded){
                  is_disqus_loaded = true;
                  var d = document, s = d.createElement('script');
                  s.src = 'https://gitlab-docs.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                }
              };
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  <% end %>
<% end %>
