<div class="header">
  <a class="logo-container flex-container justify-center align-center" href="/">
    <img src="<%= @items['/assets/images/gitlab-logo.svg'].path %>" class="logo" />
    <p>GitLab <strong>Docs</strong></p>
  </a>
  <nav class="nav-container">
    <a class="nav-item flex-container justify-center align-center" href="">
      <p>GitLab</p>
    </a>
    <a class="nav-item flex-container justify-center align-center" href="">
      <p>Omnibus</p>
    </a>
    <a class="nav-item flex-container justify-center align-center" href="">
      <p>Runner</p>
    </a>
  </nav>
</div>
