<div class="landing-header-top" id="landing-header-bar">
  <a class="header-link logo-container flex-container justify-center align-center" href="/">
    <img src="<%= @items['/assets/images/gitlab-logo.svg'].path %>" class="logo" />
    <p>GitLab <strong>Docs</strong></p>
  </a>
  <nav class="nav-container">
    <a class="header-link nav-item flex-container justify-center align-center" href="/ee">
      <p>GitLab</p>
    </a>
    <a class="header-link nav-item flex-container justify-center align-center" href="/omnibus">
      <p>Omnibus</p>
    </a>
    <a class="header-link nav-item flex-container justify-center align-center" href="/runner">
      <p>Runner</p>
    </a>
  </nav>
</div>
